Repository RobertTheDev/picsale: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest --run --changed

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "vitest --run --changed"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat: created the app pages and routes
  src/__tests__/page.test.tsx
  src/app/(account)/(settings)/change-email/page.tsx
  src/app/(account)/(settings)/change-password/page.tsx
  src/app/(account)/(settings)/close-account/page.tsx
  src/app/(account)/(settings)/connected-accounts/page.tsx
  src/app/(account)/(settings)/verify-email/page.tsx
  src/app/(account)/basket/page.tsx
  src/app/(account)/edit-profile/page.tsx
  src/app/(account)/order-history/page.tsx
  src/app/(account)/wishlist/page.tsx
  src/app/(auth)/forgot-password/page.tsx
  src/app/(auth)/reset-password/page.tsx
  src/app/(auth)/sign-in/page.tsx
  src/app/(auth)/sign-up/page.tsx
  src/app/(photos)/page.tsx
  src/app/(photos)/photos/[slug]/page.tsx
  src/app/(sell)/listings/[id]/page.tsx
  src/app/(sell)/listings/page.tsx
  src/app/(sell)/sales-summary/page.tsx
  src/app/(sell)/sell-photo/page.tsx
  src/app/about/page.tsx
  src/app/not-found.tsx
  src/app/page.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

chore: added public photos directory to gitignore
  .gitignore
Due: none

chore: defined photo interface
  src/app/interfaces/Photo.ts
Due: prettier --write, eslint --fix, vitest --run --changed

feat: created photo data
  src/app/data/photos.ts
Due: prettier --write, eslint --fix, vitest --run --changed

feat: created photo product card component
  src/app/(photos)/components/PhotoProductCard/index.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

feat: mapped photo product card component
  src/app/(photos)/page.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

feat: added new background color
  src/app/(photos)/page.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

feat: created header component and added to layout
  src/app/layout.tsx
  src/app/layout/Header/index.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

feat: added photo product page link to card component
  src/app/(photos)/components/PhotoProductCard/index.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

feat: added filter and photo data to photo product page
  src/app/(photos)/photos/[slug]/page.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

chore: added photos home redirect
  next.config.ts
Due: prettier --write, eslint --fix, vitest --run --changed

feat: added app seo default title and description
  src/app/layout.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

feat: defined company details variable
  src/app/lib/company/index.ts
Due: prettier --write, eslint --fix, vitest --run --changed

refactor: moved settings directory into root directory
  src/app/(settings)/change-email/page.tsx
  src/app/(settings)/change-password/page.tsx
  src/app/(settings)/close-account/page.tsx
  src/app/(settings)/connected-accounts/page.tsx
  src/app/(settings)/edit-profile/page.tsx
  src/app/(settings)/verify-email/page.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

feat: created about page
  src/app/(info)/about/page.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

feat: added page seo title
  src/app/(account)/basket/page.tsx
  src/app/(account)/order-history/page.tsx
  src/app/(account)/wishlist/page.tsx
  src/app/(auth)/forgot-password/page.tsx
  src/app/(auth)/reset-password/page.tsx
  src/app/(auth)/sign-in/page.tsx
  src/app/(auth)/sign-up/page.tsx
  src/app/(info)/about/page.tsx
  src/app/(photos)/photos/[slug]/page.tsx
  src/app/(sell)/listings/[id]/page.tsx
  src/app/(sell)/listings/page.tsx
  src/app/(sell)/sales-summary/page.tsx
  src/app/(sell)/sell-photo/page.tsx
  src/app/(settings)/change-email/page.tsx
  src/app/(settings)/change-password/page.tsx
  src/app/(settings)/close-account/page.tsx
  src/app/(settings)/connected-accounts/page.tsx
  src/app/(settings)/edit-profile/page.tsx
  src/app/(settings)/verify-email/page.tsx
  src/app/not-found.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

chore: deleted redundant default images
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
Due: none

feat: created favicon icon
  src/app/favicon.ico
Due: none

feat: installed next nprogress bar
  package.json
  yarn.lock
Due: prettier --write

feat: created and set up progress bar
  src/app/layout.tsx
  src/app/layout/ProgressBar/index.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

chore: installed react icons
  package.json
  yarn.lock
Due: prettier --write

chore: deleted redundant files
  src/app/(account)/order-history/page.tsx
  src/app/(sell)/listings/[id]/page.tsx
  src/app/(sell)/listings/page.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

feat: added avatar image
  public/avatar.jpg
Due: none

feat: created and defined use outside click hook
  src/app/hooks/useOutsideClick/index.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

feat: created settings and account pages
  src/app/(account)/orders/[id]/page.tsx
  src/app/(account)/orders/page.tsx
  src/app/(sell)/my-listings/[id]/page.tsx
  src/app/(sell)/my-listings/page.tsx
  src/app/(settings)/manage-payment-methods/page.tsx
  src/app/(settings)/setup-mfa/page.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

feat: defined settings menu links
  src/app/(settings)/components/SettingsMenu/settingsMenuLinks.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

feat: created settings menu component
  src/app/(settings)/components/SettingsMenu/index.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

feat: created and added header profile menu component
  src/app/layout/Header/components/HeaderProfileMenu/index.tsx
  src/app/layout/Header/index.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

feat: created logout page
  src/app/(settings)/logout/page.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

feat: added settings menu component layout
  src/app/(settings)/layout.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

chore: deleted eslintignore file
  .eslintignore
Due: none

feat: added logo image
  public/logo.png
Due: none

chore: added setting page redirect
  next.config.ts
Due: prettier --write, eslint --fix, vitest --run --changed

feat: created logo
  src/app/layout/Header/index.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

feat: created photo filter menu
  src/app/(photos)/components/PhotoFilterMenu/index.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

feat: created photo products list
  src/app/(photos)/components/PhotoProductsList/index.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

refactor: updated user icon size
  src/app/layout/Header/components/HeaderProfileMenu/index.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

feat: added category fields
  src/app/data/photos.ts
Due: prettier --write, eslint --fix, vitest --run --changed

feat: added photo filter menu component
  src/app/(photos)/page.tsx
Due: prettier --write, eslint --fix, vitest --run --changed

feat: added sign in button
  src/app/layout/Header/index.tsx
Due: prettier --write, eslint --fix, vitest --run --changed
